
<head>
    <title>WebRTC Video Recording using MediaStreamRecorder</title>
    <!--<script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"></script>-->
    <style>
        input {
            border: 1px solid rgb(46, 189, 235);
            border-radius: 3px;
            font-size: 1em;
            outline: none;
            padding: .2em .4em;
            width: 60px;
            text-align: center;
            }
    </style>
</head>
<body>
    <h1> Video Recording using MediaStreamRecorder </h1>
    <div>
        <label for="video-width">Video Width:</label>
        <input type="text" id="video-width" value="320">
        <label for="video-height">Video Height:</label>
        <input type="text" id="video-height" value="240">
        <button id="start-recording">Start Recording</button>
        <button id="stop-recording" disabled>Stop Recording</button>
        <button id="snapshot" disabled>Snapshot</button>
    </div>
        <div id="videos-container"></div>
        <%= javascript_include_tag 'CamaraDriver'  %>
        <%= javascript_include_tag 'MediaStreamRecorder'  %>
    </body>
