<div class="bio">
  <%= image_tag('header.jpg') %>
  <div>
    <p>
      Hi, I'm Ivan Muller.
    </p>
    <p>
      I'm a Software developer focused mostly on Ruby on Rails and Python on django with Linux/Unix/BSD on the server side because i considered it the best option.
      Actually working with <a href="www.ansible.com" >ansible DevOps</a> to do provisioning on my servers and deployng my apps.<br>
      Using <a href="http://jenkins-ci.org" >Jenkins to provides continuous integration</a> on my apps
      I currently travel on the world but grew up in South of Argentina/Patagonia,<br> 
      I'm actively developing web solutions focused mostly on REST API, Security on server side and scalability <br>
      I did my  <a href="http://www.info.unlp.edu.ar/" >University at UNLP</a> keep working on my thesis <a href="javascript:alert('Link not ready!')"> "Migrate to the furure" <a/>
    </p>
  </div>
</div>   <!--end bio-->

