<div class="bio">
  <%= image_tag('header.jpg') %>
  <div>
    <p>
      Hi, I'm Ivan Muller.
    </p>
    <br>
    <p>
      I'm a Software developer focused mostly on Ruby on Rails and PHP on Symfony with Linux/Unix/BSD on the server side because i considered it the best option.
      I currently travel on New Zealad but grew up in South of Argentina/Patagonia,<br>
      I'm actively developing web solutions focused mostly on REST API, Security on server side and scalability <br>
      I did my  <a href="http://www.info.unlp.edu.ar/" >University at UNLP</a> keep working on my thesis
    </p>
  </div>
</div>   <!--end bio-->

