<div class="col">
  <div>
    <h3>Concepts</h3>
    <p>I develop all apps with a few core concepts:</p>

    <div class="concept">
      <a href="http://www.oodesign.com">Design Patterns</a>
      <p>Software design principles represent a set of guidelines that helps us to avoid having a bad design.</p>
    </div>

    <div class="concept">
      <a href="https://en.wikipedia.org/wiki/Don't_repeat_yourself">DRY</a></h5>
      <p>Many people claim to understand DRY but their code doesn't reflect it. DRY concepts are meant to take place at all levels of the Rails stack. Whether it's modular model design, proper helper usage, decorators and presenters, multi-app solutions, or even mailer simplicity DRY is always on my mind.</p>
    </div>
    <div class="concept">
      <h5><a href="https://en.wikipedia.org/wiki/Modular_design">Modularization</a>
      </h5>
      <p>I write modular code based on behaviors making it more navigable, developer friendly, and intuitive.</p>
    </div>
    <div class="concept">
      <h5>
        <a href="https://people.apache.org/~fhanik/kiss.html">The Kiss Principle</a>
      </h5>
      <p>Any code should be easy to read and understand, keep it simple s...</p>
    </div>

    <div class="concept">
      <h5>Scalability and Maintainability</h5>
      <p>I support iterative development but I understand that thinking ahead and building in the appropriate
        infrastructure at the ground level will pay for itself over the following months.</p>
    </div>
    <div class="concept">
      <h5><a href="https://en.wikipedia.org/wiki/Scrum_(software_development)"></a>Scrum</h5>
      <p>I work with agile methodologies my best experience  was with Scrum</p>
    </div>
  </div>
</div>   <!--end col-->
