<div id="footer">
  <div class="content">
    <ul class="nav_3" data-scrollspy="true" id="nav">
      <li class="active"><%= link_to 'Skills', '#skills' ,:class => 'styled'%>    </li>
      <li class=""><%= link_to 'Call me', 'tel:+49157189513608' ,:class => 'styled'%>      </li>
      <li class=""><%= link_to 'Download my CV', 'https://www.dropbox.com/s/jm1rs08epc2eze8/Ivan_MullerCV_en.odt?dl=0'  ,:class => 'styled'%></li>
      <li class="contact">
        <p><a href="mailto:mullerivan@gmail.com"class="button danger medium">Contact Me</a></p>
      </li>
    </ul>
  </div>
</div>          <!--end footer-->
