<div id="footer">
  <div class="content">
    <ul class="nav_3" data-scrollspy="true" id="nav">
      <li class="active"><%= link_to 'Skills', '#skills' ,:class => 'styled'%>    </li>
      <li class=""><%= link_to 'Projects', '#projects' ,:class => 'styled'%>      </li>
      <li class=""><%= link_to 'Open Source', '#open_source' ,:class => 'styled'%></li>
      <li class="contact">
        <p><a href="mailto:mullerivan@gmail.com"class="button danger medium">Contact Me</a></p>
      </li>
    </ul>
  </div>
</div>          <!--end footer-->
