<div class="section">
  <a id="open_source"></a>
  <h2 class="styled">Projects: Open Source</h2>
  <div class="clearfix oss project">
    <div class="info">
      <h3 class="styled"><a href="http://www.mullerivan.com.ar/projects/lalal">allala</a></h3>
      <p class="link">
        <span>Link:</span>
        <a href="http://www.github.com/mullerivan/">www.github.com/mulllerivan/lalala</a>
      </p>
      <p>DESCRIPTION</p>
      <p></p>
    </div>
  </div>
</div>     <!--end section OPEN SOURCE-->
