<div class="col">
  <div>
    <h3>People</h3>
    <p>The web is no longer made of pages and quirky utilities,
      it's made of people, opinions, personalities, and apps focused on the improvement of one's life.
      At the core of any product, respect and understanding of the customer's needs and desires is essential.
      It's my belief that developers need to fully understand their customers to build a quality product.</p>
    <div class="concept">
      <h5>Know Your Customer</h5>
      <p>
        <span>Everyone involved in the engineering of a product</span>
        <strong>needs</strong>
        <span>to know their customer. A product that scratches your own back is a huge plus.</span>
      </p>
    </div>
    <div class="concept">
      <h5>Listen to the Customer</h5>
      <p>
                <span>Customers can be annoying. They complain about things that most of us wouldn't even think of.
                  It doesn't matter. If you build a product that breeds confusion, you need to change it.</span>
      </p>
    </div>
    <div class="concept">
      <h5>Scrum with the Customer</h5>
      <p>
        <span>Customers can be included on develop time, using the application on this time to help us on detect hot issues</span>
      </p>
    </div>
<div class="concept">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="T72Z5GSGPR49L">
<input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>
<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div id="SkypeButton_Call_mullerivan_1">
  <script type="text/javascript">
    Skype.ui({
      "name": "call",
      "element": "SkypeButton_Call_mullerivan_1",
      "participants": ["mullerivan"],
      "imageSize": 32
    });
  </script>
</div>
<!--
<img src="http://chart.apis.google.com/chart?cht=map:fixed=-70,-180,80,180&chs=450x300&chf=bg,s,336699&chco=d0d0d0,cc0000&chd=s:999999999999999&chld=BR|AR|CL|UY|ID|PH|TH|AU|NZ|DE|NL|AT|CH|KH|LA" width="450" height="300" ><br/>visited 15 states (6.66%)<br/><a href="http://douweosinga.com/projects/visited?region=world">Create your own visited map of The World</a> or <a href="https://play.google.com/store/apps/details?id=com.triposo.droidguide.brazil&hl=en">Brazil travel guide for Android</a>
-->
</div>
  </div>
</div>   <!--end col-->





