
        <div class="col">
          <div class="natural">
            <h3>Technologies</h3>
            <p>
              <span>
                    I'm passionate about the new technologies for the web <br>
                    My tendency is to get the best technologies for my team to gent a best experience on development time.
              </span>
            </p>
            <br>
            <p>My skill set can be bundled into:</p>
            <% #concept is a colum under this %>
            <div class="concept">
              <h5>PHP</h5>
              <ul>
                <li><span>Symfony 1.2/1.4</span></li>
                <li><span>HTML5 / CSS3</span></li>
                <li><span>PhpUnit</span></li>
              </ul>
            </div>           <!--end concept-->

            <div class="concept">
              <h5>Ruby</h5>
              <ul>
                <li><span>Rails 2 / 3 / 4</span></li>
                <li><span>HTML5 / CSS3</span></li>
                <li><span>Haml / Sass / Less</span></li>
                <li><span>RSpec</span></li>
                <li><span>Ruby 1.8 / 1.9 / 2.x </span></li>
              </ul>
            </div>           <!--end concept-->

            <div class="concept">
              <h5>Data Stores</h5>
              <ul>
                <li><span>Mysql</span></li>
                <li><span>Redis</span></li>
                <li><span>MongoDB</span></li>
                <li><span>Postgre</span></li>
                <li><span>Sqlserver</span></li>
                <li><span>Sqlite</span></li>
              </ul>
            </div>           <!--end concept-->
            <div class="concept">

              <h5>Deployment and version control</h5>
              <ul>
                <li><span>Capistrano</span></li>
                <li><span>Capifony</span></li>
                <li><span>Chef</span></li>
                <li><span>Heroku</span></li>
                <li><span>Amazone</span></li>
                <li><span>Git</span></li>
                <li><span>Subversion</span></li>
              </ul>
            </div>           <!--end concept-->

          </div><!--end natural-->
        </div>   <!--end col-->
