<section class="wraper_bg-blue wraper-follow-us" id="contacts">
  <h1>Follow me</h1>
  <h3>Stay connected with me through <br>  social media &amp; get latest updates &amp; great news</h3>
  <script>
      $(function(){
          $('.icons').hover(function(){
              $(this).find('.hover').stop(true, true).animate({'top' : '-160px'}, 300);
          }, function(){
              $(this).find('.hover').stop(true, true).animate({'top' : '0'}, 300);
          })
      })
  </script>
  <div class="icon-container">
    <div class="icons" data-0="opacity:1;left:0%;" data-4680="left:-100%" data-5000="left:0%">
      <div class="hover" onclick="javascript:location.href='https://github.com/mullerivan';" style="top: 0px;">
        <%= image_tag('github-b.png') %>
        <div>Github</div>
      </div>
    </div>
    <div class="icons" data-0="opacity:1;left:0%;" data-4680="left:-100%" data-5000="left:0%">
      <div class="hover" onclick="javascript:location.href='https://twitter.com/mullerivan';" style="top: 0px;">
        <%= image_tag('twitter-b.png') %>
        <div>Twitter</div>
      </div>
    </div>
    <div class="icons" data-0="opacity:1;left:0%;" data-4680="left:-100%" data-5000="left:0%">
      <div class="hover" onclick="javascript:location.href='http://www.linkedin.com/profile/view?id=78234141&authType=name&authToken=R5CQ&locale=es_ES&pvs=pp&trk=ppro_viewmore';" style="top: 0px;">
        <%= image_tag('linkedin-b.png') %>
        <div>Linkedin</div>
      </div>
    </div>
  </div>
</section>