<div id="wrapper" style="opacity: 1;">
  <div id="content">
    <div class="content">

<center>
	<div>
		<iframe scrolling="no" frameborder="0" src="//adbit.co/adspace.php?a=S6INKC1WKBNHY" style="overflow:hidden;width:468px;height:60px;"></iframe>
	</div>
	<div>
		<a href="//adbit.co/?a=Advertise&b=View_Bid&c=S6INKC1WKBNHY" target="_blank">&#8657; Your Ad Here &#8657;</a>
	</div>
</center>


    <script type="text/javascript">
sa_client = "dfee45d32800cbb46a4759c850d4b6fd";
sa_code = "c04db21ccd0eafc871233b75b15c6ae4";
sa_protocol = ("https:"==document.location.protocol)?"https":"http";
sa_pline = "0";
sa_maxads = "4";
sa_bgcolor = "FFFFFF";
sa_bordercolor = "BDD631";
sa_superbordercolor = "BDD631";
sa_linkcolor = "001EB5";
sa_desccolor = "000000";
sa_urlcolor = "788300";
sa_b = "0";
sa_format = "banner_728x90_4";
sa_width = "728";
sa_height = "90";
sa_location = "0";
sa_radius = "0";
sa_borderwidth = "1";
sa_font = "0";
document.write(unescape("%3cscript type='text/javascript' src='"+sa_protocol+"://sa.entireweb.com/sense2.js'%3e%3c/script%3e"));
</script>




<iframe src="https://openload.co/embed/DAaSXnt9nhw/Bitcoin-_The_End_of_Money_as_We_Know_It_%28_2015_%29.mp4" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
<iframe src="https://openload.co/embed/W3DiO6Z54a0/Fifty.Shades.of.Grey.2015.UNRATED.720p.BluRay.X264-AMIABLE.mkv.mp4" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
<iframe src="https://openload.co/embed/55jWz4c5AZE/Her.2013.1080p.BluRay.x264.YIFY.mp4" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
<iframe src="https://openload.co/embed/RLEzMLo1R_c/Insidious.Chapter.3.2015.720p.WEBrip.Tehmovies.com.mkv.mp4" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
<iframe src="https://openload.co/embed/GXwD1UhFpNE/Edge.of.Tomorrow.2014.720p.BluRay.x264.YIFY.mp4" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
<iframe src="https://openload.co/embed/RuYO6QHrIOQ/Penguins_of_Madagascar_2014_HC_1080p_HDRip_x264_AAC-JYK.mp4" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
<iframe src="https://openload.co/embed/UL_iJI7jh8A/Jurassic.World.2015.720p.BluRay.x264.YIFY.mp4" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
<iframe src="https://openload.co/embed/-2Yfl3qQ7ZU/The.Search.for.Freedom.2015.DOCU.720p.BluRay.x264.DTS-RARBG.mkv.mp4" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>





<script type="text/javascript">
sa_client = "dfee45d32800cbb46a4759c850d4b6fd";
sa_code = "201fcf8c5a48ec1e805bd0ff0625351d";
sa_protocol = ("https:"==document.location.protocol)?"https":"http";
sa_pline = "0";
sa_maxads = "4";
sa_bgcolor = "FFFFFF";
sa_bordercolor = "BDD631";
sa_superbordercolor = "BDD631";
sa_linkcolor = "001EB5";
sa_desccolor = "000000";
sa_urlcolor = "788300";
sa_b = "0";
sa_format = "linkbox_728x36";
sa_width = "728";
sa_height = "36";
sa_location = "0";
sa_radius = "0";
sa_borderwidth = "1";
sa_font = "0";
document.write(unescape("%3cscript type='text/javascript' src='"+sa_protocol+"://sa.entireweb.com/sense2.js'%3e%3c/script%3e"));
</script>


</span>
    </div>    

  </div>   <!-- end content id-->
</div> <!-- end wrapper-->


<!-- 
<iframe src="http://yllix.com/banner_show.php?section=General&amp;pub=297288&amp;format=160x600&amp;ga=g" frameborder="0" scrolling="no" width="160" height="600" marginwidth="0" marginheight="0"></iframe>
<script type="text/javascript" src="http://yllix.com/layer.php?section=General&pub=297288&ga=g&show=1&fp"></script>
<script type="text/javascript" src="http://yllix.com/slider.php?section=General&pub=297288&ga=g&side=right"></script>
-->

